.container,
.heading,
.tagline {
  color: rgb(54, 54, 54);
  background-color: #c1dff2;
}

.container {
  padding: 1.5rem 0 0 1rem;
}

.heading,
.tagline {
  display: inline-block;
}

.tagline {
  padding-left: 0.667rem;
  font-size: 0.85em;
}
